


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sibiko.site
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?sibiko.site
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sibiko.site
